.gradle
buildSrc/.gradle

.idea

api/build
buildSrc/build

modules/paper-test/build
modules/paper-test/run/
modules/paper-test/.gradle
!modules/paper-test/run/eula.txt

platforms/minecraft/paper/build

jars/